@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.navbar {
 
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; 
  z-index: 1000;
  margin-left: 60px;
}

/* Sidebar */
.sidebar {
  position: relative;
  
  left: 0;
  width: 250px; 
  height: calc(100vh - 60px); 
}

/* Main Content */
.main-content {
  margin-left: 250px;
  margin-top: 60px; 
  padding: 5px;
}